{% extends 'sunvoyoga/layout.html'%}

{% block body %}

{% load static %}



  <div class="Content">  <!--Content start-->
  

       <form class="Bookingform" method="POST" action="/booking" name="myform"  onsubmit="return validate_for_booking_Form()">
           {% csrf_token %}
        <h1>Booking</h1>

        <div class="Booking_form_element">
          <input type="text" placeholder=" First Name" name="fname" required>
        </div>

        <div class="Booking_form_element">
              <input type="text" placeholder=" Last Name" name="lname" required>
        </div>

        <div class="Booking_form_element">
          <input type="text" placeholder="Email address" name="email" required>
        </div>

         <div class="Booking_form_element">
          <input type="text" id="numb" placeholder="Mobile number " name="mobnumber" required>
        </div>
        
          <h6>Select class</h6>
          <select required name="classes">
             <option value="">Select a class</option>
             <option value="Hatha">Hatha Yoga</option>
             <option value="Ashtan">Ashtan Yoga</option>
             <option value="Kundalini">Kundalini Yoga</option>
             <option value="Bhakti">Bhakti Yoga</option>
             <option value="Yin">Yin Yoga</option>
             <option value="Kriya">Kriya Yoga</option>
          </select>
   
        
        
        <h6>Gender</h6>
        <input type="radio" name="gender" value="male" required> Male
        <input type="radio" name="gender" value="female"> Female
        <input type="radio" name="gender" value="other"> Other  
    
       
        <div class="Bookingbottom">
          <button type="submit" class="btn btn-primary btn-lg">Book Now</button>
        </div>


  </form>


   

  </div>  <!--Content end-->

{% endblock %}