{% extends 'sunvoyoga/layout.html' %}

{% block body %}

{% load static %}

  <div class="Content">  <!--Content start-->
	
	
	<div class="yogaintro">

		<h2>"Yoga is the journey of the self, through the self, to the self."</h2><br>

		<p>The word 'yoga' is derived from the Sanskrit root Yuj, meaning' Unite.' This exercise is a perfect way to work on your strength and flexibility. In the western world, the word "yoga" also signifies a modern form of Hatha yoga, consisting primarily of the' Asanas ' postures.Yoga which is a mind and body practice with a  5,000 year history in ancient Indian philosophy. Various styles of yoga combine physical postures, breathing techniques, and meditation or relaxation.The "Yoga Sutra," a 2,000-year-old treatise on yogic philosophy by the Indian sage Patanjali, is a guidebook on how to master the mind, control the emotions, and grow spiritually. The Yoga Sutra is the earliest written record of yoga and one of the oldest texts in existence and provides the framework for all modern yoga.</p>

		<p>We have different yoga classes with trained teacher.</p>	
	</div>
  	


<div class="card-containerClass">

		<div class="upper-containerClass">
			<div class="image-containerClass">
				<img src="{% static 'sunvoyoga/images/hatha.jpg'%}" />
			</div>
		</div>

		<div class="lower-containerClass">
			<div>
				<h4 id="Hatha Yoga">Hatha Yoga</h4>
			</div>
			<div>
				<h5>Hatha is the most beginner friendly style of yoga. It is relatively slow paced,with postures being held.Haṭha yoga is a branch of yoga. The Sanskrit word हठ haṭha literally means "force" and thus alludes to a system of physical techniques.[2][3]:527

				In India, haṭha yoga is associated in popular tradition with the Yogis of the Natha Sampradaya through its traditional founder Matsyendranath. Almost all hathayogic texts belong to the Nath siddhas, and the important ones are credited to Matsyendranath's disciple, Gorakhnath or Gorakshanath.[4] Matsyendranath, also known as Minanath or Minapa in Tibet, is celebrated as a saint in both Hindu and Buddhist tantric and haṭha yoga schools. However, James Mallinson associates haṭha yoga with the Dashanami Sampradaya and the mystical figure of Dattatreya.[5][6] According to the Dattatreya Yoga Śastra, there are two forms of haṭha yoga: one practiced by Yajñavalkya consisting of the eight limbs of ashtanga yoga and another practiced by Kapila consisting of eight mudras.

				Currently, the oldest dated text to describe haṭha yoga, the 11th-century CE Amṛtasiddhi, comes from a tantric Buddhist milieu.[7] The oldest texts to use the terminology of hatha are also Vajrayana Buddhist.[3] Later haṭha yoga texts adopt the practices of haṭha yoga mudras into a Saiva system, melding it with Layayoga methods which focus on the raising of kuṇḍalinī through energy channels and chakras.

				In the 20th century, a development of haṭha yoga, focusing particularly on asanas (the physical postures), became popular throughout the world as a form of physical exercise. This modern form of yoga is now widely known simply as "yoga".

				Currently, the oldest dated text to describe haṭha yoga, the 11th-century CE Amṛtasiddhi, comes from a tantric Buddhist milieu.[7] The oldest texts to use the terminology of hatha are also Vajrayana Buddhist.[3] Later haṭha yoga texts adopt the practices of haṭha yoga mudras into a Saiva system, melding it with Layayoga methods which focus on the raising of kuṇḍalinī through energy channels and chakras.</h5>
			</div>
			<div>
				<a href="#" class="btn ">Book Now</a>
			</div>
			<div class="timeprice">
				<p>Time Duration: 30 days</p>
				<p>Yoga price: Rs.300 only</p>
			</div>
		</div>
</div>




<div class="card-containerClass1">
	
		<div class="upper-containerClass1">
			<div class="image-containerClass1">
				<img src="{% static 'sunvoyoga/images/Ashtanga.jpg'%} " />
			</div>
		</div>

		<div class="lower-containerClass1">
			<div>
				<h4>Ashtan Yoga</h4>
			</div>
			<div>
				<h5>Ashtan Yoga is the most beginner friendly style of yoga. It is relatively slow paced,with postures being held.Haṭha yoga is a branch of yoga. The Sanskrit word हठ haṭha literally means "force" and thus alludes to a system of physical techniques.[2][3]:527

				In India, haṭha yoga is associated in popular tradition with the Yogis of the Natha Sampradaya through its traditional founder Matsyendranath. Almost all hathayogic texts belong to the Nath siddhas, and the important ones are credited to Matsyendranath's disciple, Gorakhnath or Gorakshanath.[4] Matsyendranath, also known as Minanath or Minapa in Tibet, is celebrated as a saint in both Hindu and Buddhist tantric and haṭha yoga schools. However, James Mallinson associates haṭha yoga with the Dashanami Sampradaya and the mystical figure of Dattatreya.[5][6] According to the Dattatreya Yoga Śastra, there are two forms of haṭha yoga: one practiced by Yajñavalkya consisting of the eight limbs of ashtanga yoga and another practiced by Kapila consisting of eight mudras.

				Currently, the oldest dated text to describe haṭha yoga, the 11th-century CE Amṛtasiddhi, comes from a tantric Buddhist milieu.[7] The oldest texts to use the terminology of hatha are also Vajrayana Buddhist.[3] Later haṭha yoga texts adopt the practices of haṭha yoga mudras into a Saiva system, melding it with Layayoga methods which focus on the raising of kuṇḍalinī through energy channels and chakras.

				In the 20th century, a development of haṭha yoga, focusing particularly on asanas (the physical postures), became popular throughout the world as a form of physical exercise. This modern form of yoga is now widely known simply as "yoga".</h5>
				
			</div>
			<div >
				<a href="#" class="btn1 ">Book Now</a>
			</div>
			<div class="timeprice1">
				<p>Time Duration: 30 days</p>
				<p>Yoga price: Rs.300 only</p>
			</div>
		</div>
</div>




<div class="card-containerClass3">

		<div class="upper-containerClass">
			<div class="image-containerClass">
				<img src="{% static 'sunvoyoga/images/Kundalini.jpg'%} " />
			</div>
		</div>

		<div class="lower-containerClass">
			<div>
				<h4>Kundalini Yoga</h4>
			</div>
			<div>
				<h5>Kundalini Yoga is the most beginner friendly style of yoga. It is relatively slow paced,with postures being held.Haṭha yoga is a branch of yoga. The Sanskrit word हठ haṭha literally means "force" and thus alludes to a system of physical techniques.[2][3]:527

				In India, haṭha yoga is associated in popular tradition with the Yogis of the Natha Sampradaya through its traditional founder Matsyendranath. Almost all hathayogic texts belong to the Nath siddhas, and the important ones are credited to Matsyendranath's disciple, Gorakhnath or Gorakshanath.[4] Matsyendranath, also known as Minanath or Minapa in Tibet, is celebrated as a saint in both Hindu and Buddhist tantric and haṭha yoga schools. However, James Mallinson associates haṭha yoga with the Dashanami Sampradaya and the mystical figure of Dattatreya.[5][6] According to the Dattatreya Yoga Śastra, there are two forms of haṭha yoga: one practiced by Yajñavalkya consisting of the eight limbs of ashtanga yoga and another practiced by Kapila consisting of eight mudras.

				Currently, the oldest dated text to describe haṭha yoga, the 11th-century CE Amṛtasiddhi, comes from a tantric Buddhist milieu.[7] The oldest texts to use the terminology of hatha are also Vajrayana Buddhist.[3] Later haṭha yoga texts adopt the practices of haṭha yoga mudras into a Saiva system, melding it with Layayoga methods which focus on the raising of kuṇḍalinī through energy channels and chakras.

				In the 20th century, a development of haṭha yoga, focusing particularly on asanas (the physical postures), became popular throughout the world as a form of physical exercise. This modern form of yoga is now widely known simply as "yoga".

				Currently, the oldest dated text to describe haṭha yoga, the 11th-century CE Amṛtasiddhi, comes from a tantric Buddhist milieu.[7] The oldest texts to use the terminology of hatha are also Vajrayana Buddhist.[3] Later haṭha yoga texts adopt the practices of haṭha yoga mudras into a Saiva system, melding it with Layayoga methods which focus on the raising of kuṇḍalinī through energy channels and chakras.</h5>
			</div>
			<div>
				<a href="#" class="btn ">Book Now</a>
			</div>
			<div class="timeprice">
				<p>Time Duration: 30 days</p>
				<p>Yoga price: Rs.300 only</p>
			</div>
		</div>
</div>
	



<div class="card-containerClass4">
	
		<div class="upper-containerClass1">
			<div class="image-containerClass1">
				<img src="{% static 'sunvoyoga/images/bhakti.jpg'%} " />
			</div>
		</div>

		<div class="lower-containerClass1">
			<div>
				<h4>Bhakti Yoga</h4>
			</div>
			<div>
				<h5>Ashtan Yoga is the most beginner friendly style of yoga. It is relatively slow paced,with postures being held.Haṭha yoga is a branch of yoga. The Sanskrit word हठ haṭha literally means "force" and thus alludes to a system of physical techniques.[2][3]:527

				In India, haṭha yoga is associated in popular tradition with the Yogis of the Natha Sampradaya through its traditional founder Matsyendranath. Almost all hathayogic texts belong to the Nath siddhas, and the important ones are credited to Matsyendranath's disciple, Gorakhnath or Gorakshanath.[4] Matsyendranath, also known as Minanath or Minapa in Tibet, is celebrated as a saint in both Hindu and Buddhist tantric and haṭha yoga schools. However, James Mallinson associates haṭha yoga with the Dashanami Sampradaya and the mystical figure of Dattatreya.[5][6] According to the Dattatreya Yoga Śastra, there are two forms of haṭha yoga: one practiced by Yajñavalkya consisting of the eight limbs of ashtanga yoga and another practiced by Kapila consisting of eight mudras.

				Currently, the oldest dated text to describe haṭha yoga, the 11th-century CE Amṛtasiddhi, comes from a tantric Buddhist milieu.[7] The oldest texts to use the terminology of hatha are also Vajrayana Buddhist.[3] Later haṭha yoga texts adopt the practices of haṭha yoga mudras into a Saiva system, melding it with Layayoga methods which focus on the raising of kuṇḍalinī through energy channels and chakras.

				In the 20th century, a development of haṭha yoga, focusing particularly on asanas (the physical postures), became popular throughout the world as a form of physical exercise. This modern form of yoga is now widely known simply as "yoga".</h5>
				
			</div>
			<div >
				<a href="#" class="btn1 ">Book Now</a>
			</div>
			<div class="timeprice1">
				<p>Time Duration: 30 days</p>
				<p>Yoga price: Rs.300 only</p>
			</div>
		</div>
</div>




<div class="card-containerClass5">

		<div class="upper-containerClass">
			<div class="image-containerClass">
				<img src="{% static 'sunvoyoga/images/yin.jpg'%} " />
			</div>
		</div>

		<div class="lower-containerClass">
			<div>
				<h4>Yin Yoga</h4>
			</div>
			<div>
				<h5>Yin Yoga is the most beginner friendly style of yoga. It is relatively slow paced,with postures being held.Haṭha yoga is a branch of yoga. The Sanskrit word हठ haṭha literally means "force" and thus alludes to a system of physical techniques.[2][3]:527

				In India, haṭha yoga is associated in popular tradition with the Yogis of the Natha Sampradaya through its traditional founder Matsyendranath. Almost all hathayogic texts belong to the Nath siddhas, and the important ones are credited to Matsyendranath's disciple, Gorakhnath or Gorakshanath.[4] Matsyendranath, also known as Minanath or Minapa in Tibet, is celebrated as a saint in both Hindu and Buddhist tantric and haṭha yoga schools. However, James Mallinson associates haṭha yoga with the Dashanami Sampradaya and the mystical figure of Dattatreya.[5][6] According to the Dattatreya Yoga Śastra, there are two forms of haṭha yoga: one practiced by Yajñavalkya consisting of the eight limbs of ashtanga yoga and another practiced by Kapila consisting of eight mudras.

				Currently, the oldest dated text to describe haṭha yoga, the 11th-century CE Amṛtasiddhi, comes from a tantric Buddhist milieu.[7] The oldest texts to use the terminology of hatha are also Vajrayana Buddhist.[3] Later haṭha yoga texts adopt the practices of haṭha yoga mudras into a Saiva system, melding it with Layayoga methods which focus on the raising of kuṇḍalinī through energy channels and chakras.

				In the 20th century, a development of haṭha yoga, focusing particularly on asanas (the physical postures), became popular throughout the world as a form of physical exercise. This modern form of yoga is now widely known simply as "yoga".

				Currently, the oldest dated text to describe haṭha yoga, the 11th-century CE Amṛtasiddhi, comes from a tantric Buddhist milieu.[7] The oldest texts to use the terminology of hatha are also Vajrayana Buddhist.[3] Later haṭha yoga texts adopt the practices of haṭha yoga mudras into a Saiva system, melding it with Layayoga methods which focus on the raising of kuṇḍalinī through energy channels and chakras.</h5>
			</div>
			<div>
				<a href="#" class="btn ">Book Now</a>
			</div>
			<div class="timeprice">
				<p>Time Duration: 30 days</p>
				<p>Yoga price: Rs.300 only</p>
			</div>
		</div>
</div>
	



<div class="card-containerClass6">
	
		<div class="upper-containerClass1">
			<div class="image-containerClass1">
				<img src="{% static 'sunvoyoga/images/kriya.jpg'%} " />
			</div>
		</div>

		<div class="lower-containerClass1">
			<div>
				<h4>Kriya Yoga</h4>
			</div>
			<div>
				<h5>Kriya Yoga is the most beginner friendly style of yoga. It is relatively slow paced,with postures being held.Haṭha yoga is a branch of yoga. The Sanskrit word हठ haṭha literally means "force" and thus alludes to a system of physical techniques.[2][3]:527

				In India, haṭha yoga is associated in popular tradition with the Yogis of the Natha Sampradaya through its traditional founder Matsyendranath. Almost all hathayogic texts belong to the Nath siddhas, and the important ones are credited to Matsyendranath's disciple, Gorakhnath or Gorakshanath.[4] Matsyendranath, also known as Minanath or Minapa in Tibet, is celebrated as a saint in both Hindu and Buddhist tantric and haṭha yoga schools. However, James Mallinson associates haṭha yoga with the Dashanami Sampradaya and the mystical figure of Dattatreya.[5][6] According to the Dattatreya Yoga Śastra, there are two forms of haṭha yoga: one practiced by Yajñavalkya consisting of the eight limbs of ashtanga yoga and another practiced by Kapila consisting of eight mudras.

				Currently, the oldest dated text to describe haṭha yoga, the 11th-century CE Amṛtasiddhi, comes from a tantric Buddhist milieu.[7] The oldest texts to use the terminology of hatha are also Vajrayana Buddhist.[3] Later haṭha yoga texts adopt the practices of haṭha yoga mudras into a Saiva system, melding it with Layayoga methods which focus on the raising of kuṇḍalinī through energy channels and chakras.</h5>
				
			</div>
			<div >
				<a href="#" class="btn1 ">Book Now</a>
			</div>
			<div class="timeprice1">
				<p>Time Duration: 30 days</p>
				<p>Yoga price: Rs.300 only</p>
			</div>
		</div>
</div>




	 
  </div>  <!--Content end-->

{% endblock %}