{% extends 'sunvoyoga/layout.html' %}

{% block body %}

{% load static %}





  <div class="Contentclass" >  <!--Content start-->





	<div class="yogaintro">

		<h2>"Yoga is the journey of the self, through the self, to the self."</h2><br>

		<p>The word 'yoga' is derived from the Sanskrit root Yuj, meaning' Unite.' This exercise is a perfect way to work on your strength and flexibility. In the western world, the word "yoga" also signifies a modern form of Hatha yoga, consisting primarily of the' Asanas ' postures.Yoga which is a mind and body practice with a  5,000 year history in ancient Indian philosophy. Various styles of yoga combine physical postures, breathing techniques, and meditation or relaxation.The "Yoga Sutra," a 2,000-year-old treatise on yogic philosophy by the Indian sage Patanjali, is a guidebook on how to master the mind, control the emotions, and grow spiritually. The Yoga Sutra is the earliest written record of yoga and one of the oldest texts in existence and provides the framework for all modern yoga.</p>

		<p>We have different yoga classes with trained teacher.</p>	
	</div>
  	


<div class="card-containerClass">

		<div class="upper-containerClass">
			<div class="image-containerClass">
				<img src="{% static 'sunvoyoga/images/hatha.jpg'%}" />
			</div>
		</div>

		<div class="lower-containerClass">
			<div>
				<h4 id="Hatha Yoga">Hatha Yoga</h4>
			</div>
			<div>
				<h5>The Sanskrit term "hatha" is an umbrella term for all physical postures of yoga. In the West, hatha yoga simply refers to all the other styles of yoga (ashtanga, Iyengar, etc.) that are grounded in a physical practice. However, there are other branches of yoga such as kriya, raja, and karma yoga that are separate from the physical-based yoga practice. The physical-based yoga is the most popular and has numerous styles.

Hatha yoga classes are best for beginners since they are usually paced slower than other yoga styles. Hatha classes today are a classic approach to breathing and exercises. If you are brand-new to yoga, hatha yoga is a great entry point to the practice.

Hatha yoga is a generic term that refers to any type of yoga that teaches physical postures. Nearly every type of yoga class taught in the West is Hatha yoga. When a class is marketed as Hatha, it generally means that you will get a gentle introduction to the most basic yoga postures. You probably won't work up a sweat in a hatha yoga class, but you should end up leaving class feeling longer, looser, and more relaxed.

</h5>
				</h5>
			</div>
			<div>
				<a href="/booking" class="btn ">Book Now</a>
			</div>
			<div class="timeprice">
				<p>Time Duration: 30 days</p>
				<p>Yoga price: Rs.3000 only</p>
			</div>
		</div>
</div>




<div class="card-containerClass1">
	
		<div class="upper-containerClass1">
			<div class="image-containerClass1">
				<img src="{% static 'sunvoyoga/images/Ashtanga.jpg'%} " />
			</div>
		</div>

		<div class="lower-containerClass1">
			<div>
				<h4>Ashtan Yoga</h4>
			</div>
			<div>
				<h5>In Sanskrit, ashtanga is translated as "Eight Limb path." In Mysore, India, people gather to practice this form of yoga together at their own pace—if you see Mysore-led ashtanga, it's expected of you to know the series. Vinyasa yoga stems from ashtanga as the flowing style linking breath to movement.

.Ashtanga is a dynamic, physically demanding practice focussed on synchronizing breath and movement to produce an internal heat to purify the body. Ashtanga yoga is great for building core strength and toning the body. Prepare to sweat as you briskly move through a set sequence.

Ashtanga yoga involves a very physically demanding sequence of postures, so this style of yoga is definitely not for the beginner. It takes an experienced yogi to really love it. Ashtanga starts with five sun salutation A's and five sun salutation B's and then moves into a series of standing and floor postures.

Ashtanga is based on ancient yoga teachings, but it was popularized and brought to the West by K. Pattabhi Jois (pronounced "pah-tah-bee joyce") in the 1970s. It's a rigorous style of yoga that follows a specific sequence of postures and is similar to vinyasa yoga, as each style links every movement to a breath. The difference is that Ashtanga always performs the exact same poses in the exact same order. This is a sweaty, physically demanding practice, so make sure to bring your trusty yoga mat towel.

</h5>
				
			</div>
			<div >
				<a href="/booking" class="btn1 ">Book Now</a>
			</div>
			<div class="timeprice1">
				<p>Time Duration: 29 days</p>
				<p>Yoga price: Rs.2850 only</p>
			</div>
		</div>
</div>




<div class="card-containerClass3">

		<div class="upper-containerClass">
			<div class="image-containerClass">
				<img src="{% static 'sunvoyoga/images/Kundalini.jpg'%} " />
			</div>
		</div>

		<div class="lower-containerClass">
			<div>
				<h4>Kundalini Yoga</h4>
			</div>
			<div>
				<h5>Kundalini Yoga can cultivate self-awareness and spiritual connection. The focus is on dynamic breathwork and can involve chanting, mantras, and meditation. Kundalini yoga is good for those who are after more than just a stretch or a workout, as it focuses on the inner spiritual growth of the student by concentrating on Kundalini energy in the spine. It can help students cultivate compassion and raise consciousness.

Kundalini yoga practice is equal parts spiritual and physical. This style is all about releasing the kundalini energy in your body said to be trapped, or coiled, in the lower spine.These classes really work your core and breathing with fast-moving, invigorating postures and breath exercises. These classes are pretty intense and can involve chanting, mantra, and meditation. To learn more about this specific practice, check out our kundalini yoga explainer.

In Kundalini Yoga we harness the mental, physical, and nervous energies of the body and put them under the domain of the will, which is the instrument of the soul. This technology precisely and consciously combines breath, mudra, eye-focus, mantra, body locks, and postures to balance the glandular system, strengthen the nervous system, expand lung capacity, and purifiy the blood. It brings balance to the body, mind, and soul.

</h5>
			</div>
			<div>
				<a href="/booking" class="btn ">Book Now</a>
			</div>
			<div class="timeprice">
				<p>Time Duration: 31 days</p>
				<p>Yoga price: Rs.3000 only</p>
			</div>
		</div>
</div>
	



<div class="card-containerClass4">
	
		<div class="upper-containerClass1">
			<div class="image-containerClass1">
				<img src="{% static 'sunvoyoga/images/bhakti.jpg'%} " />
			</div>
		</div>

		<div class="lower-containerClass1">
			<div>
				<h4>Bhakti Yoga</h4>
			</div>
			<div>
				<h5>Bhakti Yoga has also been called the yoga of devotion. It is a more spiritual style of yoga that involves surrendering to the divine or universal consciousness. Some Bhakti yogis may worship a specific deity, while others focus on the divine in everything. Bhakti Yoga often includes chanting, mantras, prayer, and kirtan as part of their practice.

The Sanskrit word bhakti comes from the root bhaj, which means "to adore or worship God." Bhakti yoga has been called "love for love's sake" and "union through love and devotion." Bhakti yoga, like any other form of yoga, is a path to self-realization, to having an experience of oneness with everything.

The intention when practicing Bhakti yoga is to devote one's self to the Divine that is in everything and, thus, to realize the union of the individual self with God. It is motivated by a love of God rather than a fear of negative repercussions or punishment and has been described as the sweetest of the yogic paths since it develops love and acceptance for all beings.

</h5>
			</div>
			<div >
				<a href="/booking" class="btn1 ">Book Now</a>
			</div>
			<div class="timeprice1">
				<p>Time Duration: 30 days</p>
				<p>Yoga price: Rs.2990 only</p>
			</div>
		</div>
</div>




<div class="card-containerClass5">

		<div class="upper-containerClass">
			<div class="image-containerClass">
				<img src="{% static 'sunvoyoga/images/yin.jpg'%} " />
			</div>
		</div>

		<div class="lower-containerClass">
			<div>
				<h4>Yin Yoga</h4>
			</div>
			<div>
				<h5>Yin Yoga is a slow-paced practice that involves holding poses for 3 to 5 minutes. Props are often used to help to stay in the poses, as they can be deceptively difficult to hold for minutes at a time. Yin poses apply moderate stress to the connective tissues of the body with the aim of increasing circulation in the joints and improving flexibility. Its goals are awareness of inner silence and recognizing a universal, interconnecting quality.

Yin is a great class for beginners, as postures can be held for from 45 seconds to 2 minutes. The classes are relaxed, as you're supposed to let gravity do most of the work. Check out our crash course on everything you need to know about yin yoga, found here.

Yin and Yang tissues respond differently to being exercised. Muscles require heat and movement to release in a Yang practice like Vinyasa, while connective tissue responds best to the long steady holds within a Yin practice. Here are nine reasons to practice Yin yoga regularly.

</h5>
			</div>
			<div>
				<a href="/booking" class="btn ">Book Now</a>
			</div>
			<div class="timeprice">
				<p>Time Duration: 34 days</p>
				<p>Yoga price: Rs.3180 only</p>
			</div>
		</div>
</div>
	



<div class="card-containerClass6">
	
		<div class="upper-containerClass1">
			<div class="image-containerClass1">
				<img src="{% static 'sunvoyoga/images/kriya.jpg'%} " />
			</div>
		</div>

		<div class="lower-containerClass1">
			<div>
				<h4>Kriya Yoga</h4>
			</div>
			<div>
				<h5>Kriya Yoga is a comprehensive spiritual path of meditation, yoga and ethical living. The spiritual master Paramhansa Yogananda brought the sacred technique of Kriya Yoga to the West and writes about it in his best-selling book, Autobiography of a Yogi.

The benefits of Kriya Yoga include: experiencing calmness and joy in your life, increased focus and concentration, and the elimination of bad karma.

Kriya Yoga also refers to a specific meditation technique, a pranayama or breathing practice that is part of Yogananda's Path of Kriya Yoga.
Since 1968, Ananda has taught Kriya Yoga to thousands of people worldwide, from many faiths and spiritual traditions. To prepare to receive Kriya initiation, you learn how to calm the mind and heart, work consciously with life force, develop concentration, and deeply interiorize your awareness. Through classes, both in-person and online, you can learn from qualified Ananda teachers, who share the wisdom and grace of ancient yoga masters.


		</h5>


			</div>
			<div >
				<a href="/booking" class="btn1 ">Book Now</a>
			</div>
			<div class="timeprice1">
				<p>Time Duration: 32 days</p>
				<p>Yoga price: Rs.3230 only</p>
			</div>
		</div>
</div>




	 
  </div>  <!--Content end-->



{% endblock %}