{% extends 'sunvoyoga/layout.html'%}

{% block body %}


<script>
function validateForm()
{
  var x = document.forms["myform"]["email"].value;
  var y = document.forms["myform"]["password"].value;

  var atposition=x.indexOf("@");
  var dotposition=x.lastIndexOf(".");

   if (x == "" )
   {
    alert("please enter email");
    return false;
   }

  if (atposition<1 || dotposition<atposition+2 || dotposition+2>=x.length)
  {
  alert("Please enter a valid e-mail address \n atpostion:"+atposition+"\n dotposition:"+dotposition);
  return false;
  }

   if (y == "")
  {
    alert("please enter password");
    return false;
  }

   if (y.length < 0 || y.length >= 18)
  {
    alert("Invalid Length!, Password must greater then 4 and less then 18 in Length.");
    return false;
  }

}
</script>

  <div class="Content">  <!--Content start-->


       <form class="loginform" method="POST" action="/entryCustomer" name="myform"  onsubmit="return validateForm()">
           {% csrf_token %}
        <h1>Log In</h1>

        <div class="login_form_elements">
          <input type="text" placeholder="Enter email" name="email" >
        </div>

        <div class="login_form_elements">
          <input type="password" placeholder="Enter Password" name="password" >
        </div>

        <div class="loginbottom">
          <button type="submit" class="btn1 btn-primary btn-lg">Log-in</button>
        </div>

        <div class="else_login_bottom_text">
          I Do not have account ?<a href="/signup">Sign up</a>
        </div>

      </form>


        <div>
         {% for message in messages %}
            <h3> {{message}}</h3>
        {% endfor %}
        </div>





  </div>  <!--Content end-->

{% endblock %}